<div class="row">
  <div class="col-sm-6" data-hook="billing_fieldset_wrapper">
    <h4>Your Information</h4>
    <% unless @order.email? %>

       <div class="form-group has-feedback" id="email">
        <%= form.label :email %>
        <br />
        <%= form.text_field :email, class: "form-control required email" %>
        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>

    <% end %>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group has-feedback" id="firstname">
          <%= form.label :firstname, Spree.t(:first_name) %>
          <br/>
          <%= form.text_field :firstname, :class => 'form-control required' %>
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group has-feedback" id="lastname">
          <%= form.label :lastname, Spree.t(:last_name) %>
          <br/>
          <%= form.text_field :lastname, :class => 'form-control required' %>
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
          <span class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
    </div>
    <div class="form-group has-feedback" id="phone">
      <%= form.label :phone, Spree.t(:phone) %>
      <br/>
      <%= form.phone_field :phone, :class => "form-control #{'required' if @order.require_phone?}" %>
      <span class="glyphicon glyphicon-ok form-control-feedback"></span>
      <span class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
  </div>

  <div class="col-sm-6" data-hook="shipping_fieldset_wrapper">
    <div id="billing" data-hook>
      <h4>Billing Address</h4>
      <%= form.fields_for :bill_address do |bill_form| %>

          <%= render :partial => 'spree/checkout/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address } %>

      <% end %>
    </div>
    <div id="shipping" data-hook>
      <%= form.fields_for :ship_address do |ship_form| %>

          <p class="field checkbox" data-hook="use_billing">
            <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address? %>
            <%= label_tag :order_use_billing, "Use this as my shipping address", :id => 'use_billing' %>
          </p>
          <%= render :partial => 'spree/checkout/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address } %>

      <% end %>
    </div>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <span class="pull-left text-left">
      <i class="glyphicon glyphicon-lock"></i> Secure<br/>Your data is encrypted
  </span>

  <%= submit_tag Spree.t(:save_and_continue), :class => 'btn btn-lg btn-success' %>
  <%= hidden_field_tag 'save_user_address', '1' %>
</div>
