<div class="info clearfix">
  <span>
    <p class="name"><%= @order.name %></p>
    <div><%= "#{@order.email}" %><%= " - #{@order.phone}" if @order.phone.present? %></div>
    <% [[:ship, @order.ship_address], [:bill, @order.bill_address]].each do |(address_type, address)| %>
      <% address_type_text = address_type == :ship ? "Shipping" : "Billing" %>
      <div id="output-<%= address_type_text.downcase %>">
        <strong><%= address_type_text %> Address</strong><br/>
        <%= address.address1 %><br/>
        <% if address.address2.present? %>
          <%= address.address2 %><br/>
        <% end %>
        <% if address.country.states_required %>
          <%= address.city %><br />
          <%= address.state_text %> <%= address.zipcode %><br />
        <% else %>
          <%= address.city %>, <%= address.zipcode %><br/>
        <% end %>
        <%= address.country %>
      </div>
    <% end %>
  </span>
  <a href="/checkout/address" class="btn btn-primary btn-xs pull-right no-pjax">Edit</a>
</div>