<div id="lock-summary" class="hidden-xs hidden-sm">

  <div id="cart-header">
    <span>My Shopping Bag Summary</span>
  </div>

  <table data-hook="order_summary" class="table cart-summary">
    <%= render partial: 'spree/checkout/summary/line_items', locals: {order: order} %>

    <tbody>
      <tr data-hook="item_total">
        <td><%= Spree.t(:item_total) %></td>
        <td class="text-right"><%= order.display_item_total.to_html %></td>
      </tr>
    </tbody>

    <tbody id="summary-order-charges" data-hook>
      <% order.all_adjustments.nonzero.eligible.each do |adjustment| %>
        <tr>
          <td><%= adjustment.label %> </td>
          <td class="text-right"><%= adjustment.display_amount.to_html %></td>
        </tr>
      <% end %>
    </tbody>

    <tbody>
      <% if order.passed_checkout_step?("delivery") && order.shipments.any? %>
        <%= form_for order, remote: true, :url => update_checkout_path(order.state), :html => {:id => "checkout_form_#{order.state}"} do |form| %>
            <%= form.hidden_field :state_lock_version %>
            <input type="hidden" name="is_summary" id="is_summary" value="true"/>

            <% form.object.shipments.each do |shipment| %>
              <% if shipment.shipping_rates.count > 1 %>
                <tr>
                  <td colspan="2"><%= Spree.t(:shipping_method) %></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <% form.fields_for :shipments, shipment do |ship_form| %>
                        <% ship_form.object.shipping_rates.each do |rate| %>
                            <li class="list-group-item shipping-method">
                              <label>
                                <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                                <span class="rate-name"><%= rate.name %></span>
                                <span class="badge rate-cost"><%= rate.display_cost %></span>
                              </label>
                            </li>
                        <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>

            <tr>
              <td><%= Spree.t(:shipping_total) %></td>
              <td class="text-right"><%= Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency).to_html %></td>
            </tr>

            <% shipments_or_shipping_instructions_can_be_updated = form.object.shipments.any? { |s| s.shipping_rates.count > 1 } || Spree::Config[:shipping_instructions] %>
            <% if shipments_or_shipping_instructions_can_be_updated %>
                <tr>
                  <td colspan="2">
                    <% if Spree::Config[:shipping_instructions] %>
                        <p id="minstrs" data-hook>
                        <h4><%= Spree.t(:shipping_instructions) %></h4>
                        <%= form.text_area :special_instructions, :cols => 40, :rows => 4, :class => "form-control" %>
                        </p>
                    <% end %>
                    <div class="well text-right form-buttons" data-hook="buttons">
                      <%= submit_tag Spree.t(:update), :class => 'btn btn-lg btn-success' %>
                    </div>
                  </td>
                </tr>
            <% end %>
        <% end %>
      <% end %>
    </tbody>
    
    <tbody>
      <tr data-hook="order_total">
        <td><%= Spree.t(:order_total) %></td>
        <td class="text-right"><h4><span id='summary-order-total'><%= order.display_total.to_html %></span></h4></td>
      </tr>
    <tbody>

    <tbody>
      <tr data-hook="order_total">
        <td colspan="2"><a href="/shipping" target="_blank" class="no-pjax">Shipping info</a></td>
      </tr>
    <tbody>
  </table>

  <% if Spree::Promotion.coupons.count >= 0 %>
    <div class="hidden" id="discount-code">
      <%= form_for order, remote: true, :url => update_checkout_path(order.state), :html => {:id => "checkout_form_#{order.state}"} do |form| %>
        <%= form.hidden_field :state_lock_version %>
        <input type="hidden" name="is_summary" id="is_summary" value="true"/>
        <div class="input-group pull-right" data-hook='coupon_code'>
          <%= form.text_field :coupon_code, :value => '', :class => 'form-control', :placeholder => "Discount code" %>
          <span class="input-group-btn">
            <%= submit_tag Spree.t(:update), :class => 'btn btn-success' %>
          </span>
        </div>
        <br/><br/>
      <% end %>
    </div>
  <% end %>

</div>
