<div class="well">

  <table data-hook="order_summary" class="table cart-summary">
    <% ### Spree_smooth_checkout_specific ###
     # This could be extracted into a partial but I'm leaving it
     # like this until the structure of the HTML is decided.  %>
    <tbody>
        <% @order.line_items.take(4).each do |line_item| %>
            <% variant = line_item.variant  -%>
            <tr class="line-item">
                <td class="cart-item-image" data-hook="cart_item_image">
                  <% if variant.images.length == 0 %>
                      <%= link_to small_image(variant.product), variant.product %>
                  <% else %>
                      <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
                  <% end %>
                </td>
                  <td class="cart-item-description text-right" data-hook="cart_item_description">
                    <%= link_to line_item.name, product_path(variant.product) %><br/>
                    <%= Spree.t(:quantity_with_cost, quantity: line_item.quantity, cost: line_item.single_money.to_html) %>
                    <br/><a href="/cart">Edit</a>
                </td>
            </tr>
        <% end %>
    </tbody>
    <% extra_items = @order.line_items.drop(4) %>
    <% if extra_items.any? %>
        <tbody class="more-line-items-activator">
            <tr><td colspan="2"><%= Spree.t(:and_x_more, count: extra_items.count) %></td></tr>
        </tbody>
        <tbody class="more-line-items">
            <% extra_items.each do |line_item| %>
                <% variant = line_item.variant -%>
                <tr class="line-item">
                  <td class="cart-item-image" data-hook="cart_item_image">
                    <% if variant.images.length == 0 %>
                        <%= link_to small_image(variant.product), variant.product %>
                    <% else %>
                        <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
                    <% end %>
                  </td>
                  <td class="cart-item-description text-right" data-hook="cart_item_description">
                    <%= link_to line_item.name, product_path(variant.product) %>
                    <br/>
                    <%= Spree.t(:quantity_with_cost, quantity: line_item.quantity, cost: line_item.single_money.to_html) %>
                    <br/><a href="/cart">Edit</a>
                  </td>
                </tr>
            <% end %>
        </tbody>
    <% end %>
    <tbody>
    <% ### Spree_smooth_checkout_specific - FIN ###  %>
    <tr data-hook="item_total">
        <td><%= Spree.t(:item_total) %></td>
        <td class="text-right"><%= order.display_item_total.to_html %></td>
    </tr>
    <tbody id="summary-order-charges" data-hook>
      <% order.adjustments.eligible.each do |adjustment| %>
        <% next if (adjustment.originator_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
        <% ### Spree_smooth_checkout_specific ###
           # Shipping methods are displayed below. %>
        <% next if (adjustment.originator_type == 'Spree::ShippingMethod') %>
        <% ### Spree_smooth_checkout_specific - FIN ###   %>
        <tr>
            <td><%= adjustment.label %> </td>
            <td class="text-right"><%= adjustment.display_amount.to_html %></td>
        </tr>
      <% end %>
      <% ### Spree_smooth_checkout_specific ###
         # This could be extracted into a partial but I'm leaving it
         # like this until the structure of the HTML is decided.   %>
      <% shipping_adjustments = order.adjustments.eligible.select { |a| a.originator_type == 'Spree::ShippingMethod' } %>
      <% if shipping_adjustments.any? {|a| a.originator_type == 'Spree::ShippingMethod'} %>
        <%= form_for @order, remote: true, :url => update_checkout_path(@order.state), :html => {:id => "checkout_form_#{@order.state}"} do |form| %>
            <input type="hidden" name="is_summary" id="is_summary" value="true"/>
            <%= form.fields_for :shipments do |ship_form| %>
                <% adjustment = shipping_adjustments.find { |a| a.source_id == ship_form.object.id } %>
                <tr>
                  <td><%= adjustment.label %>:</td>
                  <td class="text-right"><%= adjustment.display_amount.to_html %></td>
                </tr>
                <tr>
                  <td colspan="2">
                    <% ship_form.object.shipping_rates.each do |rate| %>
                        <li class="list-group-item shipping-method">
                          <label>
                            <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                            <span class="rate-name"><%= rate.name %></span>
                            <span class="badge rate-cost"><%= rate.display_cost %></span>
                          </label>
                        </li>
                    <% end %>
                  </td>
                </tr>
            <% end %>
            <tr>
              <td colspan="2">
                <% if Spree::Config[:shipping_instructions] %>
                    <p id="minstrs" data-hook>
                    <h4><%= Spree.t(:shipping_instructions) %></h4>
                    <%= form.text_area :special_instructions, :cols => 40, :rows => 4, :class => "form-control" %>
                    </p>
                <% end %>
                <div class="well text-right form-buttons" data-hook="buttons">
                  <%= submit_tag Spree.t(:update), :class => 'btn btn-lg btn-success' %>
                </div>
              </td>
            </tr>
        <% end %>
      <% end %>
      <% ### Spree_smooth_checkout_specific - FIN ###   %>
    </tbody>
    <tr data-hook="order_total">
        <td><%= Spree.t(:order_total) %></td>
        <td class="text-right"><span id='summary-order-total'><h4><%= @order.display_total.to_html %></h4><a href="#">Add Discount code</a></span></td>
    </tr>
    <% ### Spree_smooth_checkout_specific ###
     # This could be extracted into a partial but I'm leaving it
     # like this until the structure of the HTML is decided.  %>
    <% if Spree::Promotion.with_code.count > 0 %>
        <tr>
            <td colspan="2">
              <%= form_for @order, remote: true, :url => update_checkout_path(@order.state), :html => {:id => "checkout_form_#{@order.state}"} do |form| %>
                  <input type="hidden" name="is_summary" id="is_summary" value="true"/>

                  <p class='field' data-hook='coupon_code'>
                    <%= form.label :coupon_code %><br/>
                    <% # Blank value to stop the coupon code just entered being shown again. %>
                    <%= form.text_field :coupon_code, :value => '', :class => 'form-control' %>
                  </p>

                  <div class="well text-right form-buttons" data-hook="buttons">
                    <%= submit_tag Spree.t(:update), :class => 'btn btn-lg btn-success' %>
                  </div>
              <% end %>
            </td>
        </tr>
    <% end %>
    <% ### Spree_smooth_checkout_specific - FIN ###  %>
    <% if order.line_item_adjustment_totals.present? %>
      <tbody id="price-adjustments" data-hook="order_details_price_adjustments">
        <% @order.line_item_adjustment_totals.each do |label, total| %>
          <tr class="total">
              <td><%= label %></td>
              <td class="text-right"><span><%= total.to_html %></span></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </tbody>
</table>

  <div class="text-right">
      <a href="#">FAQs</a> | <a href="#">Shipping info</a>
  </div>

</div>
