<div id="pjax-container">
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

<div class="row" data-hook="checkout_content">
    <div class="<%= if @order.state != 'confirm' then 'col-md-9' else 'col-md-12' end %>" data-hook="checkout_form_wrapper">

      <div class="col-md-7 your-info">
        <div class="checkout-step checkout-step-1 <% if @order.state == 'address' %>checkout-step-on<% else %>checkout-step-off<% end %>">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="badge">1</span> Your Information
            </div>
          </div>
          <div class="cover">
            <div class="info clearfix">
              <span>
                <p class="name"><%= @order.name %></p>
                <div><%= "#{@order.email} - #{@order.phone}" %></div>
                <div id="output-shipping">
                  <strong>Shipping Address</strong><br/>
                  <%= @order.ship_address.address1 %><br/>
                  <% if @order.ship_address.address2.present? %>
                    <%= @order.ship_address.address2 %><br/>
                  <% end %>
                  <% if @order.ship_address.state %>
                    <%= @order.ship_address.city %><br />
                    <%= @order.ship_address.state_text %> <%= @order.ship_address.zipcode %><br />
                  <% else %>
                    <%= @order.ship_address.city %>, <%= @order.ship_address.zipcode %><br/>
                  <% end %>
                  <%= @order.ship_address.country %>
                </div>
                <div id="output-billing">
                  <strong>Billing Address</strong><br/>
                  <%= @order.bill_address.address1 %><br/>
                  <% if @order.bill_address.address2.present? %>
                    <%= @order.bill_address.address2 %><br/>
                  <% end %>
                  <% if @order.bill_address.state %>
                    <%= @order.bill_address.city %><br />
                    <%= @order.bill_address.state_text %> <%= @order.bill_address.zipcode %><br />
                  <% else %>
                    <%= @order.bill_address.city %>, <%= @order.bill_address.zipcode %><br/>
                  <% end %>
                  <%= @order.bill_address.country %>
                </div>
              </span>
              <a href="/checkout/address" class="btn btn-primary btn-xs pull-right no-pjax">Edit</a>
            </div>
          </div>

          <% if @order.state == 'address' %>
            <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
             <%= form.hidden_field :state_lock_version %>
             <%= render @order.state, :form => form %>
            <% end %>
          <% else %>
              <%= render :partial => 'dummyaddress' %>
          <% end %>

        </div>
      </div>
      <div class="col-md-5 <%= if @order.state == 'address'; "hidden-xs" end %>">
        <div class="checkout-step checkout-step-2 <% if @order.state == 'address' %>checkout-step-off<% else %>checkout-step-on<% end %>">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <span class="badge">2</span> Payment Details
            </div>
          </div>
          <div class="cover"></div>

          <% if @order.state == 'address' %>
            <%= render :partial => 'payment' %>
          <% else %>
            <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
              <%= form.hidden_field :state_lock_version %>
              <%= render @order.state, :form => form %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-3">
        <%= render :partial => 'summary', :locals => { order: @order } %>
      </div>
    <% end %>
</div>
</div>
