<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

<div class="row" data-hook="checkout_content">
    <div class="<%= if @order.state != 'confirm' then 'col-md-9' else 'col-md-12' end %>" data-hook="checkout_form_wrapper">
      
      <div class="col-md-8 <% if @order.state == 'address' %>hidden-xs<% end %>">
        <div class="panel panel-primary">
          <div class="panel-heading">
            1. Your Information
          </div>
        </div>
        <div class="checkout-step checkout-step-1 <% if @order.state == 'address' %>checkout-step-on<% else %>checkout-step-off<% end %>">
          <div class="cover">
            <div class="info">
              <span>
                Saved
              </span>
              <a href="/checkout/address" class="label label-primary pull-right">Edit</a>
            </div>
          </div>

          <% if @order.state == 'address' %>
            <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
              <%= render @order.state, :form => form %>
            <% end %>
          <% else %>
              <%= render :partial => 'dummyaddress' %>
          <% end %>

        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            2. Payment Details
          </div>
        </div>
        <div class="checkout-step checkout-step-2 <% if @order.state == 'address' %>checkout-step-off<% else %>checkout-step-on<% end %>">
          <div class="cover"></div>

          <% if @order.state == 'address' %>
            <%= render :partial => 'payment' %>
          <% else %>
           <%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
             <%= render @order.state, :form => form %>
           <% end %>
          <% end %> 

        </div>
      </div>
    </div>
    <% if @order.state != 'confirm' %>
      <div id="checkout-summary" data-hook="checkout_summary_box" class="col-md-3">
        <%= render :partial => 'summary', :locals => { :order => @order } %>
      </div>
    <% end %>
</div>